@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');


/* TYPICAL DEVICES BREAKPOINTS
-------------------------------
Pequenas telas: 600px pra baixo
Celular: 600 pra cima
Tablets: 768 pra cima
Laptops: 992 pra cima
Telas Grandes: 1200 pra cima
-------------------------------

*/

@media screen and (min-width: 768px) {   /* TABLETS */

    .introducao p {
        font-size: 1.2em;
    }

    #botao a {
        padding: 1em 2em 1em 2em;
        font-size: 0.8em;
    }

    .servicos h2 {
        font-size: 1.7em;
    }

    .conteudo img {
        width: 400px;
        height: 500px;
    }

    .conteudo p {
        width: 400px;
        font-size: 1.2em;
    }

    .conteudo h3 {
        width: 400px;
        font-size: 1.7em;
    }

    .finalizacao p {
        font-size: 1.2em;
        text-align: center;
        border-radius: 0px 0px 100px 100px;
    }

    #botao2 p {
        height: 65px;
        width: 200px;
    }

    footer {
        font-size: 1em;
        padding-bottom: 0.5em;
    }

}


@media screen and (min-width: 992px) {
    
    h1 {
        letter-spacing: 0.4em;
    }

    li {
        padding: 30px 40px 30px 40px;
    }

    #imagemintroducao {
        background-position: right center;
        width: 100vw;
        height: 90vh;
    }

    .conteudo img {
        width: 600px;
        height: 800px;
    }

    .conteudo p {
        font-size: 1.5em;
        width: 600px;
        height: 200px;
        border-radius: 0px 0px 50px 50px;
    }

    .conteudo h3 {
        font-size: 2em;
        width: 600px;
    }

    .finalizacao {
        padding-top: 10em;
        background-color: #eec38fc2;
    }

    .finalizacao p {
        background-color: #eec38fc2;
        border-radius: 0px 0px 50% 50%;
        font-size: 1.3em;
        margin: auto;
        width: 600px;
    }

    .finalizacao h2 {
        width: 700px;
        border-radius: 0% 0% 10% 10%;
        margin: auto;
        background-color: #eec38fc2;
    }

    #botao2 p:hover {
        text-decoration: underline;
        transition-duration: 0.5s;
    }
}
